<!DOCTYPE html>

<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Samples.master.cs" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>SuperSignature ASP.NET Webforms Samples</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <noscript>
        <meta http-equiv="refresh" content="1; URL='https://supersignature.com'" />
    </noscript>
    <form id="frmMainMaster" runat="server">
        <div id="divLeft">
            <ul>
                <li><a href="/default.aspx">Samples Home</a></li>

                <!-- Forms -->
                <li><a href="/Forms/Contact.aspx">Contact Form</a></li>
                <li><a href="/Forms/Multiple.aspx">Multiple</a></li>
                <li><a href="/Forms/Repeater.aspx">Repeater</a></li>
                <li><a href="/Forms/Dynamic.aspx">Dynamic</a></li>

                <!-- JavaScript -->
                <li><a href="/JavaScript/Ajax.aspx">Ajax</a></li>
                <li><a href="/JavaScript/jQuery.aspx">jQuery</a></li>
                <li><a href="/JavaScript/Modal.aspx">Simple Modal</a></li>
                <li><a href="/JavaScript/Toolkit.aspx">Ajax Toolkit</a></li>

                <!-- UI -->
                <li><a href="/UI/Mobile.aspx">Mobile</a></li>
                <li><a href="/UI/Background.aspx">Background</a></li>
                <li><a href="/UI/Resize.aspx">Resize</a></li>
                <li><a href="/UI/Width.aspx">Width</a></li>

                <!-- Misc -->
                <li><a href="status.aspx">Status</a></li>
                <li><a href="ShowHide.aspx">Show - Hide</a></li>
                <li><a href="SaveDB.aspx">Save To DB</a></li>
                <li><a href="SaveFile.aspx">Save To File</a></li>
                <li><a href="document.aspx">Document Signing</a></li>
                
                <li><a href="Advanced.aspx">Advanced</a></li>
                <li><a href="PostBack.aspx">PostBack</a></li>
                <li><a href="PostBack-UpdatePanel.aspx">PostBack (Update Panel)</a></li>
                <li><a href="Wizard.aspx">Wizard (Update Panel)</a></li>
                <li><a href="Bootstrap.aspx">Bootstrap Modal</a></li>
                <li><a href="LoadSignature.aspx">Load Signature</a></li>
            </ul>
            <br />
            <a href="https://supersignature.com" target="_blank">Visit SuperSignature.com</a>
        </div>
        <div id="divRight">
            <asp:ContentPlaceHolder ID="cphMain" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <div id="divBottom">
            <asp:ContentPlaceHolder ID="cphFooter" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
